@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #3498db;
  --shade-color: #2f89c5;
  --error-color: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.auth-form {
  width: 50%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin: 3rem auto;
  padding: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 2px 10px rgba(52, 152, 219, 0.5);
}

.form-heading {
  color: #000;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.form-control label,
.form-control input {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
}

.form-control input {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  padding: 1rem;
  border: 2px solid #f0f0f0;
}

.form-control input:focus {
  outline: 0;
  border: 2px solid #777;
}

.form-control.error input {
  border: solid 2px var(--error-color);
}

.form-control .error-message {
  color: var(--error-color);
  font-size: 1.4rem;
  visibility: hidden;
}

.form-control.error .error-message {
  visibility: visible;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--shade-color);
  border: 2px solid var(--shade-color);
}

@media (max-width: 768px) {
  .auth-form {
    width: 90%;
  }
}
