@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

.countdown {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.countdown .time {
  display: grid;
  gap: 10px;
}

.time h2 {
  font-size: 50px;
  letter-spacing: 3px;
}

.time span {
  font-size: 24px;
}

.year {
  font-size: 200px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}
